* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorTitulos: #ffa500;
    --colortextos: #ffffff;
    --colorbotones: #ffa500;
    --colorfondo: #000;
    --paddingsecciones: 60px 10;
    --marginelementos: 40px;
}


/* Menu */
body{
    width: 100%;
}
header{
    width: 100%;
}
.menu-navegacion {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 100%;
    background-color: #000;
    flex-direction: column;
}

.logo {
    height: 100px;
}

.logo img {
    display: inline-block ;
    height: 100%;
    width: auto;
    margin-left: 30px;
}

.enlaces li {
    list-style: none;
    display: inline-block;
}

.enlaces a {
    text-decoration: none;
    color: #ffff;
    padding-left: 15px;
  
}

/*main*/


main {
    width: 100%;
    height: 100%;
    background-image: url(../images/WhatsApp\ Image\ 2023-06-09\ at\ 14.55.10.jpeg);
    display: flex;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: auto;
    justify-content: center;
    margin-top: 10px;
    
}
.tituloPrincipal{
    display: flex;
    color: #fdc304;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    justify-content: center;
}

.Menu-buffet h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
    color: var(--colorTitulos);
    font-size: 25px;
    display: inline-block;
}

p {
    display: inline-block;
    justify-content: space-around;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.precio-menu{
    color: #ff0000;
    justify-content: center;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
font-size: 25px;
}


@media (min-width:760px) {
    .menu-navegacion {
        flex-direction: row;
        justify-content: space-around;
        
    }
    .menu-navegacion .enlaces a{
        font-size: 20px;
      }
      
}

@media (min-width:1200px) {
    .menu-navegacion .enlaces a{
      font-size: 30px;
    }}

